.task {
    padding-top: 8px;
    max-width: 350px;
    min-width: 200px;
    min-height: 250px;
    /* background-color: #FFAA73; */
    /* #B7F46E */
    border-radius: 2px;
    margin: 1rem;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.task:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}